doctype html
html(leng='en')
	head
		script.			
			function aaa(){
				console.log('click')
				window.openner.location.href='https://loc-fo.sivillage.com/order/registBillkeyApprove.siv'
			}                                
	body
		p Welcome to #{title}
		button(type='button' , onclick ='aaa()') click
 
